@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* Typography and Colors */

html {
  font-size: 18px;
}

body {
  background-color: #ffc0c6;
}

h1, div {
  font-family: Roboto Mono;
  color: white;
}

h1 {
  padding-left: 50px;
}

/* Nav */

.site-nav {
  display: flex;
  justify-content: space-evenly;
  padding: .5em;
  background-color: #ffdac0;
  font-family: Roboto Mono;
}

ul {
  margin: 50px;
  padding: 20px;
  list-style-type: none;
}

ul a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

li {
  padding: .5rem;
}

/* Image Styling */

img.about-image {
  height: 100%;
  width: 100%;
  padding: 10px;
}

img.logo-wrap {
  height: 100%;
  width: 100%;
  padding-right: 15px;
}

/* Content Styling with Grid */

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  grid-gap: 50px;
}

.education-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

div.education-content, div.experience-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
