@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html {
  font-size: 18px;
}

body {
  background-color: #ffc0c6;
}

h1, div {
  font-family: Roboto Mono;
  color: white;
}

.site-nav {
  display: flex;
  justify-content: space-evenly;
  padding: .5em;
  background-color: #ffdac0;
  font-family: Roboto Mono;
}

ul {
  margin: 50px;
  padding: 20px;
  list-style-type: none;
}

ul a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  display: grid;
}
